{% extends 'layout.html' %}
{% set active_page='home' %}

{% block style %}
    <style>
        .form--container {
            min-block-size: 60vh;
        }
        textarea {
            resize: vertical;
        }
    </style>
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
    <main class="form--container new--note--form--container">
        <section>
            <h1>Add new note</h1>

            <form class="form" autocomplete="off" spellcheck="false">

                <div class="form__group">
                    <label for="title">Title</label>
                    <input type="text" required name="title" id="title" placeholder="enter note title">
                </div>

                <div class="form__group">
                    <label for="content">Content</label>
                    <textarea rows="7" minlength="10" maxlength="500" placeholder="enter note content"></textarea>
                </div>

                <div class="form__submit--group">
                    <input type="submit" class="btn-limegreen txt-darkblue" value="Create Note">
                </div>
            </form>
        </section>
    </main>

    <section class="notes--container">
        <div class="notes__cards">
            <article class="note__card">
                <h3 class="note__card--title">
                    Buy Tomato From a Kirana
                </h3>
            </article>

            <article class="note__card">
                <h3 class="note__card--title">
                    Fill water in the tank
                </h3>
            </article>
        </div>
    </section>
{% else %}
    <main class="container container--home--main">
        
        <section class="container__text--wrapper">
            <h1 class="container__main--heading">
                <p>Manage your Work</p>
                <p>with <span>Simplicity</span></p>
            </h1>

            <h5 class="container__sub--heading">
                <p>MyTaskManager is a platform which make</p>
                <p>it easy to manage your daily works</p>
            </h5>

            <a href="{{url_for('login')}}" class="btn-limegreen txt-darkblue" title="Go to login page">
                <span>Get Started</span>
                <span>&raquo;</span>
            </a>
        </section>

        <div class="container__image--wrapper">
            <img src="{{url_for('static',filename='site-images/Management.png')}}" alt="Illustration showing work management">
        </div>

    </main>

    <section class="container container--home--section container--home--section--one">
        <div class="container__text--wrapper">
            <h2 class="container__main--heading">
                <p>Grow your <span>Productivity</span></p>
            </h2>

            <h5 class="container__sub--heading">
                <p>Easy management of daily works will grow</p>
                <p>productivity & save your time</p>
            </h5>

        </div>

        <div class="container__image--wrapper">
            <img src="{{url_for('static',filename='site-images/Growth.png')}}" alt="Illustration showing growth in productivity">
        </div>
    </section>

    <section class="container container--home--section container--home--section--two">
        <div class="container__text--wrapper">
            <h2 class="container__main--heading">
                <p>Touch the Sky of</p>
                <span>Success</span>
            </h2>

            <h5 class="container__sub--heading">
                <p>Growth in productivity will make you</p>
                <p>successful in your career</p>
            </h5>

        </div>

        <div class="container__image--wrapper">
            <img src="{{url_for('static',filename='site-images/Celebrating-Success.png')}}" alt="Illustration showing success in career">
        </div>
    </section>
{% endif %}
{% endblock %}

{% block script %}
    <script>
        // SLIDING FUNCTIONALITY USING INTERSECTION OBSERVER API
        const homeSections = document.querySelectorAll('.container--home--section'); 

        const options = {
            rootMargin : "0px",
            threshold : .15
        };

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if(entry.isIntersecting && entry.intersectionRatio > .15) {
                    const sectionImg = entry.target.querySelector('.container__image--wrapper');
                    const sectionTxt = entry.target.querySelector('.container__text--wrapper');
                        sectionImg.style.transform = 'translateX(0)';
                        sectionImg.style.opacity = 1;
                        sectionTxt.style.transform = 'translateX(0)';
                        sectionTxt.style.opacity = 1;
                }
            })
        }, options);

        homeSections.forEach(section => {
            observer.observe(section);
        });
    </script>

{% endblock %}