{% extends 'layout.html' %}
{% block style %}
    <style>
        .form--login--container {
            justify-content:center;
            padding:2rem .5rem;
        }

        .form__group label {
            line-height:1.5;
        }

        .form__password--input {
            width:100%;
            position:relative;
        }

        .form__password--input ion-icon {
            position:absolute;
            top:58%;
            right:.65rem;
            transform:translateY(-58%);
            font-size:1.2rem;
            color: var(--form-label-clr);
            cursor:pointer;
        }

        .form__remember--group {
            margin-block-start:.25rem;
        }

        .form__remember--group label {
            margin-inline-start:.2rem;
        }

        .forgot__password--link {
            margin-block-start:.25rem;
            display:inline-block;
            color:var(--form-link-clr);
            font-weight: var(--font-wt-500);
            font-size:.9rem;
        }

        .forgot__password--link:hover,
        .forgot__password--link:focus {
            text-decoration: underline 2px currentColor;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="form--container form--login--container">
        <section>
            <h1>Login here</h1>
            <form class="form" autocomplete="off" spellcheck="false" method="post">
                {{form.hidden_tag()}}

                <div class="form__group" style="margin-bottom:0.75rem;">
                    {{form.email.label}}
                    {% if form.email.errors %}
                    {{form.email(class="form--input__error")}}
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                    {{form.email(placeholder="enter your email address")}}
                    {% endif %}
                </div>

                <div class="form__group">
                    {{form.password.label}}
                    {% if form.password.errors %}
                    <div class="form__password--input">
                        {{form.password(class="form__input--error")}}
                        <ion-icon name="eye"></ion-icon>
                    </div>
                    {% for error in form.password.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                    <div class="form__password--input">
                        {{form.password(placeholder="enter your password")}}
                        <ion-icon name="eye"></ion-icon>
                    </div>
                    {% endif %}
                </div>

                <div class="form__remember--group">
                    {{form.remember_me}}
                    {{form.remember_me.label}}
                </div>

                <div class="form__submit--group">
                    {{form.submit(class="btn-limegreen txt-darkblue")}}
                </div>
            </form>

            <a href="#" class="forgot__password--link">Forgot Password?</a>

            <div class="form__link--wrapper">
                <p>
                    New here? <a href="{{url_for('signup')}}" title="go to signup page">signup now</a>
                </p>
            </div>
        </section>
        
    </main>
{% endblock %}

{% block script %}
    <script>
        const passwordField = document.querySelector(".form__password--input input");
        const eyeBtn = document.querySelector(".form__password--input ion-icon");

        eyeBtn.addEventListener('click', () => {
            if(passwordField.getAttribute('type') === "password") {
                passwordField.setAttribute("type", "text");
                eyeBtn.setAttribute("name", 'eye-off');
            }
            else {
                passwordField.setAttribute("type", "password");
                eyeBtn.setAttribute("name", 'eye');
            }
        });
    </script>
{% endblock %}