{% extends 'layout.html' %}
{% block style %}
    <style>
        .form--login--container {
            justify-content:center;
            padding:2rem .5rem;
        }

        .form__group label {
            line-height:1.5;
        }

        .forgot__password--link {
            margin-block-start:.25rem;
            display:inline-block;
            color:var(--form-link-clr);
            font-weight: var(--font-wt-500);
            font-size:.9rem;
        }

        .forgot__password--link:hover,
        .forgot__password--link:focus {
            text-decoration: underline 2px currentColor;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="form--container form--login--container">
        <section>
            <h1>Login here</h1>
            <form class="form" autocomplete="off" spellcheck="false" method="post">
                {{form.hidden_tag()}}

                <div class="form__group" style="margin-bottom:0.75rem;">
                    {{form.email.label}}
                    {{form.email(placeholder="enter your email address")}}
                </div>

                <div class="form__group">
                    {{form.password.label}}
                    {{form.password(placeholder="enter your password")}}
                </div>

                <div class="form__submit--group">
                    {{form.submit(class="btn btn--secondary btn--hover--secondary--light--3 txt-white")}}
                </div>
            </form>

            <a href="#" class="forgot__password--link">Forgot Password?</a>

            <div class="form__link--wrapper">
                <p>
                    New here? <a href="{{url_for('signup')}}">signup now</a>
                </p>
            </div>
        </section>
        
    </main>
{% endblock %}