{% extends 'layout.html' %}
{% block body %}
    <main class="form--container">
        <section>
            <h1>Create account</h1>
            <form class="form" autocomplete="off" spellcheck="false" method="post">
                {{form.hidden_tag()}}

                <div class="form__group">
                    {{form.fullname.label}}
                    {{form.fullname(placeholder="enter your fullname")}}
                </div>

                <div class="form__group">
                    {{form.username.label}}
                    {{form.username(placeholder="enter an username")}}
                </div>

                <div class="form__group">
                    {{form.email.label}}
                    {{form.email(placeholder="enter your email address")}}
                </div>

                <div class="form__group">
                    {{form.password.label}}
                    {{form.password(placeholder="enter a password")}}
                </div>

                <div class="form__group">
                    {{form.reenter_password.label}}
                    {{form.reenter_password(placeholder="reenter the password")}}
                </div>

                <div class="form__recaptcha--group">
                    {{form.recaptcha}}
                </div>

                <div class="form__submit--group">
                    {{form.submit(class="btn btn--primary btn--hover--primary--light--3 txt-white")}}
                </div>
            </form>

            <div class="form__link--wrapper">
                <p>
                    Already have an account? <a href="{{url_for('login')}}">login now</a>
                </p>
            </div>
        </section>
        
    </main>
{% endblock %}