html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: unset;
}

:root {
  /*!============ COLORS ==============*/
  --clr-blue-grey-700: hsl(200, 19%, 18%);
  --clr-pink-100: hsl(340, 72%, 92%);
  --clr-pink-200: hsl(340, 82%, 82%);
  --clr-pink-300: hsl(340, 82%, 72%);
  --clr-pink-500: hsl(340, 82%, 52%);
  --clr-pink-600: hsl(340, 82%, 42%);
  --clr-pink-light: hsl(340, 92%, 67%);
  --clr-pink-800: hsla(340, 82%, 20%, 0.81);
  --clr-white: hsl(0, 100%, 100%);
  --body-bg: hsl(0, 100%, 100%);
  --heading-clr: hsla(340, 82%, 20%, 0.81);
  --text-clr: hsl(340, 82%, 62%);

  /*!=========== FONT STACKS =============*/
  --font-lato: "Lato", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /*!=========== FONT WEIGHTS ============*/
  --font-wt-300: 300;
  --font-wt-400: 400;
  --font-wt-500: 500;
  --font-wt-700: 700;

  /*!============ LINE HEIGHTS ============*/
  --body-lh: 1.6;
  --heading-lh: 1.1;

  /*!================ RADII ================*/
  --rad-4: 4px;
  --rad-6: 6px;
  --rad-round: 50%;
}

.dark--mode {
  --body-bg: hsl(340, 82%, 12%);
  --heading-clr: hsl(340, 72%, 92%);
  --text-clr: hsl(340, 82%, 82%);
}

body {
  font: var(--font-wt-400) 1rem / var(--body-lh) var(--font-poppins);
  background-color: var(--body-bg);
  position: relative;

  @supports (block-size: 12px) or (inline-size: 12px) {
    &::-webkit-scrollbar {
      inline-size: 12px;
      block-size: 12px;
    }
  }
  @supports not ((block-size: 12px) or (inline-size: 12px)) {
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--clr-white);
    box-shadow: 2px 0 3px 2px var(--clr-pink-100) inset;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-pink-500);
    border: 2px solid var(--clr-pink-light);
    border-radius: 3px;
  }
}

/*!============== GENERAL ==============*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--heading-lh);
}

@supports (padding-block: 0) or (padding-inline: 0) {
  .btn {
    padding-block: 0.5rem;
    padding-inline: 1.1rem;
    border-radius: var(--rad-4);
    transition: all 0.3s ease;
    font : {
      family: var(--font-ubuntu);
      size: 1.1rem;
    }
  }
}

@supports not ((padding-block: 0) or (padding-inline: 0)) {
  .btn {
    padding: 0.5rem 1.1rem;
    border-radius: var(--rad-4);
    transition: all 0.3s ease;
    font : {
      family: var(--font-ubuntu);
      size: 1.1rem;
    }
  }
}

.btn__pink {
  background-color: var(--clr-pink-600);
  color: var(--clr-white);
  border: 2px solid var(--clr-pink-500);

  &:hover,
  &:focus {
    border-color: var(--clr-pink-600);
    background-color: var(--clr-white);
    color: var(--clr-pink-800);
  }
}

.btn__white {
  color: var(--clr-pink-800);
  border: 2px solid var(--clr-pink-600);
  background-color: var(--clr-white);

  &:hover,
  &:focus {
    border-color: var(--clr-pink-500);
    background-color: var(--clr-pink-600);
    color: var(--clr-white);
  }
}

/*!============== HEADER ===============*/
header {
  background-color: var(--clr-pink-100);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  border-radius: 5px;
  display: block;
  box-shadow: 0 0 2px var(--clr-blue-grey-700);

  @supports (block-size: 0) {
    &--md {
      block-size: 4rem;
    }
  }
  @supports not (block-size: 0) {
    &--md {
      height: 4rem;
    }
  }
}

/*!=========== MAIN NAVIGATION ==========*/
.navigation {
  &--main {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--clr-pink-100);
  }

  &--show {
    display: block;
    border-bottom-left-radius: var(--rad-4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  }

  &__menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 1.2rem 0.8rem;
    padding: 4rem 3rem 2rem;

    .color__mode--toggler {
      position: relative;
      background-color: var(--clr-pink-800);
      width: 3.5rem;
      height: 1.7rem;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: background-color 100ms ease;

      &.color__mode--toggler--dark {
        background-color: var(--clr-white);
      }

      span {
        position: absolute;
        height: 1.4rem;
        top: 0.15rem;
        left: 0.15rem;
        width: 1.4rem;
        border-radius: var(--rad-round);
        background-color: var(--clr-white);
        transition: transform 100ms ease, background-color 100ms ease;
      }

      :is(&:hover, &:focus) span {
        cursor: pointer;
      }
    }

    span.toggler__ball--dark {
      transform: translateX(1.8rem);
      background-color: var(--clr-pink-800);
    }
  }

  &__hide--btn--wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__show--btn,
  &__hide--btn {
    display: inline-block;
    background-color: transparent;
    border: none;

    ion-icon {
      border: 2px solid var(--clr-pink-600);
      font-size: 2.1rem;
      color: var(--clr-pink-800);
      padding: 1px;
      border-radius: var(--rad-4);
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }

    :is(&:hover, &:focus) ion-icon {
      opacity: 0.7;
    }
  }

  &__hide--btn ion-icon {
    font-size: 1.4rem;
  }

  &__tab {
    display: block;
    text : {
      decoration: none;
      transform: uppercase;
    }
    font : {
      family: var(--font-ubuntu);
      size: 1.1rem;
    }
    letter-spacing: 0.5px;
  }

  &__link {
    transition: background 300ms ease;
    color: var(--clr-pink-800);

    &:hover,
    &:focus {
      background: linear-gradient(45deg, var(--clr-pink-600), currentColor) 0% 100%/100% 3px
        no-repeat;
    }
  }

  &__tab--active {
    background: linear-gradient(45deg, var(--clr-pink-600), currentColor) 0% 100%/100% 3px no-repeat;
  }
}

/*!=========== MEDIA QUERIES ============*/
@media all and (min-width: 720px) {
  html {
    font-size: 100%;
  }

  .navigation__show--btn,
  .navigation__hide--btn--wrapper {
    display: none;
  }

  .navigation--main {
    position: relative;
    display: block;
    box-shadow: none;
  }

  .navigation__menu {
    flex-direction: row;
    padding: 0;
  }
}

@media all and (min-width: 1260px) {
  html {
    font-size: 110%;
  }
}
