/*! =============== Homepage Styling When logged in ================ */
.notes--container {
  width: min(1360px, 96%);
  margin: 0 auto;
  margin-block-end: $base-margin * 4;

  > div:first-child {
    text-align: center;
    margin-bottom: $base-margin * 4;

    h2 {
      display: inline-block;
      text-transform: uppercase;
      font-size: $base-font * 1.75;
      letter-spacing: 1px;
      border-bottom: 4px double var(--limegreen-color);
    }
  }

  > div:last-child {
    @include flex(center);
    flex-wrap: wrap;
    gap: $base-margin * 1.75;

    .note__card {
      background-color: var(--form-bg);
      padding: $base-padding * 1.5;
      border-radius: calc($base-radius / 4);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      width: 17.6rem;

      > div:first-child {
        @include flex(space-between, flex-start);
        gap: $base-margin * 2;
        margin-bottom: $base-margin * 0.25;

        span {
          color: var(--limegreen-color);
          font-size: $base-font * 0.7;
          font-weight: var(--font-wt-700);
        }
      }

      button {
        background-color: transparent;
        border: none;

        > * {
          font-size: $base-font * 1.1;
          color: var(--error-clr);
          padding-inline: $base-padding * 0.25;
        }
        :is(&:hover, &:focus-within) ion-icon {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      &--title {
        font-size: $base-font * 1.16;
      }

      &--content {
        font-size: $base-font * 0.82;
        margin-top: $base-margin * 1.5;
        color: var(--form-label-clr);
      }
    }
  }
}

/*!======================== Homepage  Styling ========================*/
.container {
  @include flex(center, center, column);

  @supports (block-size: 100vh) and (padding-inline: 0) {
    & {
      padding-inline: $base-padding * 4;
      block-size: 100vh;
    }
  }

  @supports not ((block-size: 100vh) and (padding-inline: 0)) {
    & {
      padding: 0 $base-padding * 4;
      height: 100vh;
    }
  }

  &--home--main {
    height: calc(100vh - 4.5rem);
    justify-content: flex-end;
    background-color: var(--home-main-bg-color);

    a > *:last-child {
      margin-inline-start: $base-margin * 0.5;
    }
  }

  &--home--main {
    > .container__text--wrapper {
      animation: left-slide-animation 1500ms ease-out;
    }
    > .container__image--wrapper {
      animation: right-slide-animation 1700ms ease-out;
    }
  }

  &--home--section--one {
    @include section-mixin(--section-one-bg-color);
  }

  &--home--section--two {
    @include section-mixin(--section-two-bg-color);
  }

  &--home--section--one .container__text--wrapper,
  &--home--section--two .container__image--wrapper {
    transform: translateX(200px);
    opacity: 0;
    transition: transform 2000ms ease-out, opacity 2000ms ease-out;
  }

  &--home--section--one .container__image--wrapper,
  &--home--section--two .container__text--wrapper {
    transform: translateX(-200px);
    opacity: 0;
    transition: transform 2000ms ease-out, opacity 2000ms ease-out;
  }

  &__text--wrapper {
    align-self: flex-start;

    h1,
    h2,
    h5 {
      display: flex;
      flex-direction: column;
    }

    h1,
    h2 {
      color: var(--heading-clr);
      font: {
        size: $base-font * 2;
      }

      span {
        color: var(--limegreen-color);
        background-image: linear-gradient(35deg, var(--limegreen-color), var(--light-yellow-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    h5 {
      color: var(--text-clr);
      margin-block-start: $base-margin;
      margin-block-end: $base-margin * 2;
      font : {
        size: $base-font * 0.85;
        weight: var(--font-wt-400);
        family: var(--font-montserrat);
      }
      line-height: 1.3;
      word-spacing: 1px;
    }
  }

  a {
    span:last-child {
      font-size: $base-font * 1.3;
    }
  }

  @supports (margin-block-start: 0) {
    a {
      margin-block-start: $base-margin;
    }
  }
  @supports not (margin-block-start: 0) {
    a {
      margin-top: $base-margin;
    }
  }

  &__image--wrapper img {
    display: block;
  }

  @supports (inline-size: 0) {
    &__image--wrapper img {
      inline-size: 24rem;
    }
  }
  @supports not (inline-size: 0) {
    &__image--wrapper img {
      width: 24rem;
    }
  }
}

/*!================== MEDIA QUERIES ====================*/
@media all and (max-width: 640px) {
  .notes--container {
    margin-block-end: $base-margin * 2;

    > div:last-child .note__card {
      width: 20rem;
    }

    > div:first-child {
      margin-bottom: $base-margin * 2.5;
    }

    h2 {
      line-height: calc(var(--body-lh) * 0.65);
    }
  }
}
@media all and (min-width: 720px) {
  .container {
    flex-direction: row;
    justify-content: space-between;

    &--home--section--one {
      > div:last-child {
        order: -1;
      }
    }

    &--home--section--two > div:first-child {
      order: 0;
    }

    &__text--wrapper {
      align-self: center;
    }
  }

  .notes--container div:last-child {
    justify-content: flex-start;
  }
}

@media all and (min-width: 992px) {
  .container {
    justify-content: center;
    gap: $base-margin * 10;
  }
}
