@mixin flex($just: flex-start, $align: stretch, $dir: row) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $dir;
}

@mixin section-mixin($color) {
  background-color: var($color);
  row-gap: $base-margin * 4;

  div:first-child {
    order: 1;
  }
}
