@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

/*!==============================
* Text Colors Utility Classes
===============================*/
.txt-hover-primary:hover,
.txt-primary {
  color: #2f6cee;
}
.txt-hover-primary-light-1:hover,
.txt-primary-light-1 {
  color: #447bf0;
}
.txt-hover-primary-dark-1:hover,
.txt-primary-dark-1 {
  color: #2a61d6;
}
.txt-hover-primary-light-2:hover,
.txt-primary-light-2 {
  color: #5989f1;
}
.txt-hover-primary-dark-2:hover,
.txt-primary-dark-2 {
  color: #2656be;
}
.txt-hover-primary-light-3:hover,
.txt-primary-light-3 {
  color: #6d98f3;
}
.txt-hover-primary-dark-3:hover,
.txt-primary-dark-3 {
  color: #214ca7;
}
.txt-hover-primary-light-4:hover,
.txt-primary-light-4 {
  color: #82a7f5;
}
.txt-hover-primary-dark-4:hover,
.txt-primary-dark-4 {
  color: #1c418f;
}
.txt-hover-primary-light-5:hover,
.txt-primary-light-5 {
  color: #97b6f7;
}
.txt-hover-primary-dark-5:hover,
.txt-primary-dark-5 {
  color: #183677;
}
.txt-hover-primary-light-6:hover,
.txt-primary-light-6 {
  color: #acc4f8;
}
.txt-hover-primary-dark-6:hover,
.txt-primary-dark-6 {
  color: #132b5f;
}
.txt-hover-primary-light-7:hover,
.txt-primary-light-7 {
  color: #c1d3fa;
}
.txt-hover-primary-dark-7:hover,
.txt-primary-dark-7 {
  color: #0e2047;
}
.txt-hover-primary-light-8:hover,
.txt-primary-light-8 {
  color: #d5e2fc;
}
.txt-hover-primary-dark-8:hover,
.txt-primary-dark-8 {
  color: #091630;
}
.txt-hover-primary-light-9:hover,
.txt-primary-light-9 {
  color: #eaf0fd;
}
.txt-hover-primary-dark-9:hover,
.txt-primary-dark-9 {
  color: #050b18;
}
.txt-hover-secondary:hover,
.txt-secondary {
  color: #1ac784;
}
.txt-hover-secondary-light-1:hover,
.txt-secondary-light-1 {
  color: #31cd90;
}
.txt-hover-secondary-dark-1:hover,
.txt-secondary-dark-1 {
  color: #17b377;
}
.txt-hover-secondary-light-2:hover,
.txt-secondary-light-2 {
  color: #48d29d;
}
.txt-hover-secondary-dark-2:hover,
.txt-secondary-dark-2 {
  color: #159f6a;
}
.txt-hover-secondary-light-3:hover,
.txt-secondary-light-3 {
  color: #5fd8a9;
}
.txt-hover-secondary-dark-3:hover,
.txt-secondary-dark-3 {
  color: #128b5c;
}
.txt-hover-secondary-light-4:hover,
.txt-secondary-light-4 {
  color: #76ddb5;
}
.txt-hover-secondary-dark-4:hover,
.txt-secondary-dark-4 {
  color: #10774f;
}
.txt-hover-secondary-light-5:hover,
.txt-secondary-light-5 {
  color: #8de3c2;
}
.txt-hover-secondary-dark-5:hover,
.txt-secondary-dark-5 {
  color: #0d6442;
}
.txt-hover-secondary-light-6:hover,
.txt-secondary-light-6 {
  color: #a3e9ce;
}
.txt-hover-secondary-dark-6:hover,
.txt-secondary-dark-6 {
  color: #0a5035;
}
.txt-hover-secondary-light-7:hover,
.txt-secondary-light-7 {
  color: #baeeda;
}
.txt-hover-secondary-dark-7:hover,
.txt-secondary-dark-7 {
  color: #083c28;
}
.txt-hover-secondary-light-8:hover,
.txt-secondary-light-8 {
  color: #d1f4e6;
}
.txt-hover-secondary-dark-8:hover,
.txt-secondary-dark-8 {
  color: #05281a;
}
.txt-hover-secondary-light-9:hover,
.txt-secondary-light-9 {
  color: #e8f9f3;
}
.txt-hover-secondary-dark-9:hover,
.txt-secondary-dark-9 {
  color: #03140d;
}
.txt-error,
.txt-hover-error:hover {
  color: #d32752;
}
.txt-error-light-1,
.txt-hover-error-light-1:hover {
  color: #d73d63;
}
.txt-error-dark-1,
.txt-hover-error-dark-1:hover {
  color: #be234a;
}
.txt-error-light-2,
.txt-hover-error-light-2:hover {
  color: #dc5275;
}
.txt-error-dark-2,
.txt-hover-error-dark-2:hover {
  color: #a91f42;
}
.txt-error-light-3,
.txt-hover-error-light-3:hover {
  color: #e06886;
}
.txt-error-dark-3,
.txt-hover-error-dark-3:hover {
  color: #941b39;
}
.txt-error-light-4,
.txt-hover-error-light-4:hover {
  color: #e57d97;
}
.txt-error-dark-4,
.txt-hover-error-dark-4:hover {
  color: #7f1731;
}
.txt-error-light-5,
.txt-hover-error-light-5:hover {
  color: #e993a9;
}
.txt-error-dark-5,
.txt-hover-error-dark-5:hover {
  color: #6a1429;
}
.txt-error-light-6,
.txt-hover-error-light-6:hover {
  color: #eda9ba;
}
.txt-error-dark-6,
.txt-hover-error-dark-6:hover {
  color: #541021;
}
.txt-error-light-7,
.txt-hover-error-light-7:hover {
  color: #f2becb;
}
.txt-error-dark-7,
.txt-hover-error-dark-7:hover {
  color: #3f0c19;
}
.txt-error-light-8,
.txt-hover-error-light-8:hover {
  color: #f6d4dc;
}
.txt-error-dark-8,
.txt-hover-error-dark-8:hover {
  color: #2a0810;
}
.txt-error-light-9,
.txt-hover-error-light-9:hover {
  color: #fbe9ee;
}
.txt-error-dark-9,
.txt-hover-error-dark-9:hover {
  color: #150408;
}
.txt-hover-info:hover,
.txt-info {
  color: #f6c31e;
}
.txt-hover-info-light-1:hover,
.txt-info-light-1 {
  color: #f7c935;
}
.txt-hover-info-dark-1:hover,
.txt-info-dark-1 {
  color: #ddb01b;
}
.txt-hover-info-light-2:hover,
.txt-info-light-2 {
  color: #f8cf4b;
}
.txt-hover-info-dark-2:hover,
.txt-info-dark-2 {
  color: #c59c18;
}
.txt-hover-info-light-3:hover,
.txt-info-light-3 {
  color: #f9d562;
}
.txt-hover-info-dark-3:hover,
.txt-info-dark-3 {
  color: #ac8915;
}
.txt-hover-info-light-4:hover,
.txt-info-light-4 {
  color: #fadb78;
}
.txt-hover-info-dark-4:hover,
.txt-info-dark-4 {
  color: #947512;
}
.txt-hover-info-light-5:hover,
.txt-info-light-5 {
  color: #fbe18f;
}
.txt-hover-info-dark-5:hover,
.txt-info-dark-5 {
  color: #7b620f;
}
.txt-hover-info-light-6:hover,
.txt-info-light-6 {
  color: #fbe7a5;
}
.txt-hover-info-dark-6:hover,
.txt-info-dark-6 {
  color: #624e0c;
}
.txt-hover-info-light-7:hover,
.txt-info-light-7 {
  color: #fcedbc;
}
.txt-hover-info-dark-7:hover,
.txt-info-dark-7 {
  color: #4a3b09;
}
.txt-hover-info-light-8:hover,
.txt-info-light-8 {
  color: #fdf3d2;
}
.txt-hover-info-dark-8:hover,
.txt-info-dark-8 {
  color: #312706;
}
.txt-hover-info-light-9:hover,
.txt-info-light-9 {
  color: #fef9e9;
}
.txt-hover-info-dark-9:hover,
.txt-info-dark-9 {
  color: #191403;
}
.txt-hover-red:hover,
.txt-red {
  color: #e61a1a;
}
.txt-hover-red-light-1:hover,
.txt-red-light-1 {
  color: #e93131;
}
.txt-hover-red-dark-1:hover,
.txt-red-dark-1 {
  color: #cf1717;
}
.txt-hover-red-light-2:hover,
.txt-red-light-2 {
  color: #eb4848;
}
.txt-hover-red-dark-2:hover,
.txt-red-dark-2 {
  color: #b81515;
}
.txt-hover-red-light-3:hover,
.txt-red-light-3 {
  color: #ee5f5f;
}
.txt-hover-red-dark-3:hover,
.txt-red-dark-3 {
  color: #a11212;
}
.txt-hover-red-light-4:hover,
.txt-red-light-4 {
  color: #f07676;
}
.txt-hover-red-dark-4:hover,
.txt-red-dark-4 {
  color: #8a1010;
}
.txt-hover-red-light-5:hover,
.txt-red-light-5 {
  color: #f38d8d;
}
.txt-hover-red-dark-5:hover,
.txt-red-dark-5 {
  color: #730d0d;
}
.txt-hover-red-light-6:hover,
.txt-red-light-6 {
  color: #f5a3a3;
}
.txt-hover-red-dark-6:hover,
.txt-red-dark-6 {
  color: #5c0a0a;
}
.txt-hover-red-light-7:hover,
.txt-red-light-7 {
  color: #f8baba;
}
.txt-hover-red-dark-7:hover,
.txt-red-dark-7 {
  color: #450808;
}
.txt-hover-red-light-8:hover,
.txt-red-light-8 {
  color: #fad1d1;
}
.txt-hover-red-dark-8:hover,
.txt-red-dark-8 {
  color: #2e0505;
}
.txt-hover-red-light-9:hover,
.txt-red-light-9 {
  color: #fde8e8;
}
.txt-hover-red-dark-9:hover,
.txt-red-dark-9 {
  color: #170303;
}
.txt-hover-orange:hover,
.txt-orange {
  color: #f50;
}
.txt-hover-orange-light-1:hover,
.txt-orange-light-1 {
  color: #ff661a;
}
.txt-hover-orange-dark-1:hover,
.txt-orange-dark-1 {
  color: #e64d00;
}
.txt-hover-orange-light-2:hover,
.txt-orange-light-2 {
  color: #f73;
}
.txt-hover-orange-dark-2:hover,
.txt-orange-dark-2 {
  color: #c40;
}
.txt-hover-orange-light-3:hover,
.txt-orange-light-3 {
  color: #ff884d;
}
.txt-hover-orange-dark-3:hover,
.txt-orange-dark-3 {
  color: #b33c00;
}
.txt-hover-orange-light-4:hover,
.txt-orange-light-4 {
  color: #f96;
}
.txt-hover-orange-dark-4:hover,
.txt-orange-dark-4 {
  color: #930;
}
.txt-hover-orange-light-5:hover,
.txt-orange-light-5 {
  color: #ffaa80;
}
.txt-hover-orange-dark-5:hover,
.txt-orange-dark-5 {
  color: #802b00;
}
.txt-hover-orange-light-6:hover,
.txt-orange-light-6 {
  color: #fb9;
}
.txt-hover-orange-dark-6:hover,
.txt-orange-dark-6 {
  color: #620;
}
.txt-hover-orange-light-7:hover,
.txt-orange-light-7 {
  color: #ffccb3;
}
.txt-hover-orange-dark-7:hover,
.txt-orange-dark-7 {
  color: #4d1a00;
}
.txt-hover-orange-light-8:hover,
.txt-orange-light-8 {
  color: #fdc;
}
.txt-hover-orange-dark-8:hover,
.txt-orange-dark-8 {
  color: #310;
}
.txt-hover-orange-light-9:hover,
.txt-orange-light-9 {
  color: #ffeee6;
}
.txt-hover-orange-dark-9:hover,
.txt-orange-dark-9 {
  color: #1a0900;
}
.txt-hover-yellow:hover,
.txt-yellow {
  color: #f2f20d;
}
.txt-hover-yellow-light-1:hover,
.txt-yellow-light-1 {
  color: #f3f325;
}
.txt-hover-yellow-dark-1:hover,
.txt-yellow-dark-1 {
  color: #dada0c;
}
.txt-hover-yellow-light-2:hover,
.txt-yellow-light-2 {
  color: #f5f53d;
}
.txt-hover-yellow-dark-2:hover,
.txt-yellow-dark-2 {
  color: #c2c20a;
}
.txt-hover-yellow-light-3:hover,
.txt-yellow-light-3 {
  color: #f6f656;
}
.txt-hover-yellow-dark-3:hover,
.txt-yellow-dark-3 {
  color: #a9a909;
}
.txt-hover-yellow-light-4:hover,
.txt-yellow-light-4 {
  color: #f7f76e;
}
.txt-hover-yellow-dark-4:hover,
.txt-yellow-dark-4 {
  color: #919108;
}
.txt-hover-yellow-light-5:hover,
.txt-yellow-light-5 {
  color: #f9f986;
}
.txt-hover-yellow-dark-5:hover,
.txt-yellow-dark-5 {
  color: #797907;
}
.txt-hover-yellow-light-6:hover,
.txt-yellow-light-6 {
  color: #fafa9e;
}
.txt-hover-yellow-dark-6:hover,
.txt-yellow-dark-6 {
  color: #616105;
}
.txt-hover-yellow-light-7:hover,
.txt-yellow-light-7 {
  color: #fbfbb6;
}
.txt-hover-yellow-dark-7:hover,
.txt-yellow-dark-7 {
  color: #494904;
}
.txt-hover-yellow-light-8:hover,
.txt-yellow-light-8 {
  color: #fcfccf;
}
.txt-hover-yellow-dark-8:hover,
.txt-yellow-dark-8 {
  color: #303003;
}
.txt-hover-yellow-light-9:hover,
.txt-yellow-light-9 {
  color: #fefee7;
}
.txt-hover-yellow-dark-9:hover,
.txt-yellow-dark-9 {
  color: #181801;
}
.txt-hover-limegreen:hover,
.txt-limegreen {
  color: #80e61a;
}
.txt-hover-limegreen-light-1:hover,
.txt-limegreen-light-1 {
  color: #8de931;
}
.txt-hover-limegreen-dark-1:hover,
.txt-limegreen-dark-1 {
  color: #73cf17;
}
.txt-hover-limegreen-light-2:hover,
.txt-limegreen-light-2 {
  color: #99eb48;
}
.txt-hover-limegreen-dark-2:hover,
.txt-limegreen-dark-2 {
  color: #66b815;
}
.txt-hover-limegreen-light-3:hover,
.txt-limegreen-light-3 {
  color: #a6ee5f;
}
.txt-hover-limegreen-dark-3:hover,
.txt-limegreen-dark-3 {
  color: #5aa112;
}
.txt-hover-limegreen-light-4:hover,
.txt-limegreen-light-4 {
  color: #b3f076;
}
.txt-hover-limegreen-dark-4:hover,
.txt-limegreen-dark-4 {
  color: #4d8a10;
}
.txt-hover-limegreen-light-5:hover,
.txt-limegreen-light-5 {
  color: #c0f38d;
}
.txt-hover-limegreen-dark-5:hover,
.txt-limegreen-dark-5 {
  color: #40730d;
}
.txt-hover-limegreen-light-6:hover,
.txt-limegreen-light-6 {
  color: #ccf5a3;
}
.txt-hover-limegreen-dark-6:hover,
.txt-limegreen-dark-6 {
  color: #335c0a;
}
.txt-hover-limegreen-light-7:hover,
.txt-limegreen-light-7 {
  color: #d9f8ba;
}
.txt-hover-limegreen-dark-7:hover,
.txt-limegreen-dark-7 {
  color: #264508;
}
.txt-hover-limegreen-light-8:hover,
.txt-limegreen-light-8 {
  color: #e6fad1;
}
.txt-hover-limegreen-dark-8:hover,
.txt-limegreen-dark-8 {
  color: #1a2e05;
}
.txt-hover-limegreen-light-9:hover,
.txt-limegreen-light-9 {
  color: #f2fde8;
}
.txt-hover-limegreen-dark-9:hover,
.txt-limegreen-dark-9 {
  color: #0d1703;
}
.txt-green,
.txt-hover-green:hover {
  color: #0df20d;
}
.txt-green-light-1,
.txt-hover-green-light-1:hover {
  color: #25f325;
}
.txt-green-dark-1,
.txt-hover-green-dark-1:hover {
  color: #0cda0c;
}
.txt-green-light-2,
.txt-hover-green-light-2:hover {
  color: #3df53d;
}
.txt-green-dark-2,
.txt-hover-green-dark-2:hover {
  color: #0ac20a;
}
.txt-green-light-3,
.txt-hover-green-light-3:hover {
  color: #56f656;
}
.txt-green-dark-3,
.txt-hover-green-dark-3:hover {
  color: #09a909;
}
.txt-green-light-4,
.txt-hover-green-light-4:hover {
  color: #6ef76e;
}
.txt-green-dark-4,
.txt-hover-green-dark-4:hover {
  color: #089108;
}
.txt-green-light-5,
.txt-hover-green-light-5:hover {
  color: #86f986;
}
.txt-green-dark-5,
.txt-hover-green-dark-5:hover {
  color: #077907;
}
.txt-green-light-6,
.txt-hover-green-light-6:hover {
  color: #9efa9e;
}
.txt-green-dark-6,
.txt-hover-green-dark-6:hover {
  color: #056105;
}
.txt-green-light-7,
.txt-hover-green-light-7:hover {
  color: #b6fbb6;
}
.txt-green-dark-7,
.txt-hover-green-dark-7:hover {
  color: #044904;
}
.txt-green-light-8,
.txt-hover-green-light-8:hover {
  color: #cffccf;
}
.txt-green-dark-8,
.txt-hover-green-dark-8:hover {
  color: #033003;
}
.txt-green-light-9,
.txt-hover-green-light-9:hover {
  color: #e7fee7;
}
.txt-green-dark-9,
.txt-hover-green-dark-9:hover {
  color: #011801;
}
.txt-cyan,
.txt-hover-cyan:hover {
  color: #1ae6c4;
}
.txt-cyan-light-1,
.txt-hover-cyan-light-1:hover {
  color: #31e9ca;
}
.txt-cyan-dark-1,
.txt-hover-cyan-dark-1:hover {
  color: #17cfb0;
}
.txt-cyan-light-2,
.txt-hover-cyan-light-2:hover {
  color: #48ebd0;
}
.txt-cyan-dark-2,
.txt-hover-cyan-dark-2:hover {
  color: #15b89d;
}
.txt-cyan-light-3,
.txt-hover-cyan-light-3:hover {
  color: #5feed6;
}
.txt-cyan-dark-3,
.txt-hover-cyan-dark-3:hover {
  color: #12a189;
}
.txt-cyan-light-4,
.txt-hover-cyan-light-4:hover {
  color: #76f0dc;
}
.txt-cyan-dark-4,
.txt-hover-cyan-dark-4:hover {
  color: #108a76;
}
.txt-cyan-light-5,
.txt-hover-cyan-light-5:hover {
  color: #8df3e2;
}
.txt-cyan-dark-5,
.txt-hover-cyan-dark-5:hover {
  color: #0d7362;
}
.txt-cyan-light-6,
.txt-hover-cyan-light-6:hover {
  color: #a3f5e7;
}
.txt-cyan-dark-6,
.txt-hover-cyan-dark-6:hover {
  color: #0a5c4e;
}
.txt-cyan-light-7,
.txt-hover-cyan-light-7:hover {
  color: #baf8ed;
}
.txt-cyan-dark-7,
.txt-hover-cyan-dark-7:hover {
  color: #08453b;
}
.txt-cyan-light-8,
.txt-hover-cyan-light-8:hover {
  color: #d1faf3;
}
.txt-cyan-dark-8,
.txt-hover-cyan-dark-8:hover {
  color: #052e27;
}
.txt-cyan-light-9,
.txt-hover-cyan-light-9:hover {
  color: #e8fdf9;
}
.txt-cyan-dark-9,
.txt-hover-cyan-dark-9:hover {
  color: #031714;
}
.txt-hover-purple:hover,
.txt-purple {
  color: #5e1ae6;
}
.txt-hover-purple-light-1:hover,
.txt-purple-light-1 {
  color: #6e31e9;
}
.txt-hover-purple-dark-1:hover,
.txt-purple-dark-1 {
  color: #5517cf;
}
.txt-hover-purple-light-2:hover,
.txt-purple-light-2 {
  color: #7e48eb;
}
.txt-hover-purple-dark-2:hover,
.txt-purple-dark-2 {
  color: #4b15b8;
}
.txt-hover-purple-light-3:hover,
.txt-purple-light-3 {
  color: #8e5fee;
}
.txt-hover-purple-dark-3:hover,
.txt-purple-dark-3 {
  color: #4212a1;
}
.txt-hover-purple-light-4:hover,
.txt-purple-light-4 {
  color: #9e76f0;
}
.txt-hover-purple-dark-4:hover,
.txt-purple-dark-4 {
  color: #38108a;
}
.txt-hover-purple-light-5:hover,
.txt-purple-light-5 {
  color: #af8df3;
}
.txt-hover-purple-dark-5:hover,
.txt-purple-dark-5 {
  color: #2f0d73;
}
.txt-hover-purple-light-6:hover,
.txt-purple-light-6 {
  color: #bfa3f5;
}
.txt-hover-purple-dark-6:hover,
.txt-purple-dark-6 {
  color: #260a5c;
}
.txt-hover-purple-light-7:hover,
.txt-purple-light-7 {
  color: #cfbaf8;
}
.txt-hover-purple-dark-7:hover,
.txt-purple-dark-7 {
  color: #1c0845;
}
.txt-hover-purple-light-8:hover,
.txt-purple-light-8 {
  color: #dfd1fa;
}
.txt-hover-purple-dark-8:hover,
.txt-purple-dark-8 {
  color: #13052e;
}
.txt-hover-purple-light-9:hover,
.txt-purple-light-9 {
  color: #efe8fd;
}
.txt-hover-purple-dark-9:hover,
.txt-purple-dark-9 {
  color: #090317;
}
.txt-hover-pink:hover,
.txt-pink {
  color: #e61aa2;
}
.txt-hover-pink-light-1:hover,
.txt-pink-light-1 {
  color: #e931ab;
}
.txt-hover-pink-dark-1:hover,
.txt-pink-dark-1 {
  color: #cf1792;
}
.txt-hover-pink-light-2:hover,
.txt-pink-light-2 {
  color: #eb48b5;
}
.txt-hover-pink-dark-2:hover,
.txt-pink-dark-2 {
  color: #b81582;
}
.txt-hover-pink-light-3:hover,
.txt-pink-light-3 {
  color: #ee5fbe;
}
.txt-hover-pink-dark-3:hover,
.txt-pink-dark-3 {
  color: #a11271;
}
.txt-hover-pink-light-4:hover,
.txt-pink-light-4 {
  color: #f076c7;
}
.txt-hover-pink-dark-4:hover,
.txt-pink-dark-4 {
  color: #8a1061;
}
.txt-hover-pink-light-5:hover,
.txt-pink-light-5 {
  color: #f38dd1;
}
.txt-hover-pink-dark-5:hover,
.txt-pink-dark-5 {
  color: #730d51;
}
.txt-hover-pink-light-6:hover,
.txt-pink-light-6 {
  color: #f5a3da;
}
.txt-hover-pink-dark-6:hover,
.txt-pink-dark-6 {
  color: #5c0a41;
}
.txt-hover-pink-light-7:hover,
.txt-pink-light-7 {
  color: #f8bae3;
}
.txt-hover-pink-dark-7:hover,
.txt-pink-dark-7 {
  color: #450831;
}
.txt-hover-pink-light-8:hover,
.txt-pink-light-8 {
  color: #fad1ec;
}
.txt-hover-pink-dark-8:hover,
.txt-pink-dark-8 {
  color: #2e0520;
}
.txt-hover-pink-light-9:hover,
.txt-pink-light-9 {
  color: #fde8f6;
}
.txt-hover-pink-dark-9:hover,
.txt-pink-dark-9 {
  color: #170310;
}
.txt-blue,
.txt-hover-blue:hover {
  color: #1a1ae6;
}
.txt-blue-light-1,
.txt-hover-blue-light-1:hover {
  color: #3131e9;
}
.txt-blue-dark-1,
.txt-hover-blue-dark-1:hover {
  color: #1717cf;
}
.txt-blue-light-2,
.txt-hover-blue-light-2:hover {
  color: #4848eb;
}
.txt-blue-dark-2,
.txt-hover-blue-dark-2:hover {
  color: #1515b8;
}
.txt-blue-light-3,
.txt-hover-blue-light-3:hover {
  color: #5f5fee;
}
.txt-blue-dark-3,
.txt-hover-blue-dark-3:hover {
  color: #1212a1;
}
.txt-blue-light-4,
.txt-hover-blue-light-4:hover {
  color: #7676f0;
}
.txt-blue-dark-4,
.txt-hover-blue-dark-4:hover {
  color: #10108a;
}
.txt-blue-light-5,
.txt-hover-blue-light-5:hover {
  color: #8d8df3;
}
.txt-blue-dark-5,
.txt-hover-blue-dark-5:hover {
  color: #0d0d73;
}
.txt-blue-light-6,
.txt-hover-blue-light-6:hover {
  color: #a3a3f5;
}
.txt-blue-dark-6,
.txt-hover-blue-dark-6:hover {
  color: #0a0a5c;
}
.txt-blue-light-7,
.txt-hover-blue-light-7:hover {
  color: #babaf8;
}
.txt-blue-dark-7,
.txt-hover-blue-dark-7:hover {
  color: #080845;
}
.txt-blue-light-8,
.txt-hover-blue-light-8:hover {
  color: #d1d1fa;
}
.txt-blue-dark-8,
.txt-hover-blue-dark-8:hover {
  color: #05052e;
}
.txt-blue-light-9,
.txt-hover-blue-light-9:hover {
  color: #e8e8fd;
}
.txt-blue-dark-9,
.txt-hover-blue-dark-9:hover {
  color: #030317;
}
.txt-grey,
.txt-hover-grey:hover {
  color: gray;
}
.txt-grey-light-1,
.txt-hover-grey-light-1:hover {
  color: #8d8d8d;
}
.txt-grey-dark-1,
.txt-hover-grey-dark-1:hover {
  color: #737373;
}
.txt-grey-light-2,
.txt-hover-grey-light-2:hover {
  color: #999;
}
.txt-grey-dark-2,
.txt-hover-grey-dark-2:hover {
  color: #666;
}
.txt-grey-light-3,
.txt-hover-grey-light-3:hover {
  color: #a6a6a6;
}
.txt-grey-dark-3,
.txt-hover-grey-dark-3:hover {
  color: #5a5a5a;
}
.txt-grey-light-4,
.txt-hover-grey-light-4:hover {
  color: #b3b3b3;
}
.txt-grey-dark-4,
.txt-hover-grey-dark-4:hover {
  color: #4d4d4d;
}
.txt-grey-light-5,
.txt-hover-grey-light-5:hover {
  color: silver;
}
.txt-grey-dark-5,
.txt-hover-grey-dark-5:hover {
  color: #404040;
}
.txt-grey-light-6,
.txt-hover-grey-light-6:hover {
  color: #ccc;
}
.txt-grey-dark-6,
.txt-hover-grey-dark-6:hover {
  color: #333;
}
.txt-grey-light-7,
.txt-hover-grey-light-7:hover {
  color: #d9d9d9;
}
.txt-grey-dark-7,
.txt-hover-grey-dark-7:hover {
  color: #262626;
}
.txt-grey-light-8,
.txt-hover-grey-light-8:hover {
  color: #e6e6e6;
}
.txt-grey-dark-8,
.txt-hover-grey-dark-8:hover {
  color: #1a1a1a;
}
.txt-grey-light-9,
.txt-hover-grey-light-9:hover {
  color: #f2f2f2;
}
.txt-grey-dark-9,
.txt-hover-grey-dark-9:hover {
  color: #0d0d0d;
}
.txt-black,
.txt-hover-black:hover {
  color: #000;
}
.txt-hover-white:hover,
.txt-white {
  color: #fff;
}

/*!=============================
* Background Colors Utility Classes 
==============================*/
.bg-primary {
  background-color: #2f6cee;
}
.bg-primary-light-1 {
  background-color: #447bf0;
}
.bg-primary-dark-1 {
  background-color: #2a61d6;
}
.bg-primary-light-2 {
  background-color: #5989f1;
}
.bg-primary-dark-2 {
  background-color: #2656be;
}
.bg-primary-light-3 {
  background-color: #6d98f3;
}
.bg-primary-dark-3 {
  background-color: #214ca7;
}
.bg-primary-light-4 {
  background-color: #82a7f5;
}
.bg-primary-dark-4 {
  background-color: #1c418f;
}
.bg-primary-light-5 {
  background-color: #97b6f7;
}
.bg-primary-dark-5 {
  background-color: #183677;
}
.bg-primary-light-6 {
  background-color: #acc4f8;
}
.bg-primary-dark-6 {
  background-color: #132b5f;
}
.bg-primary-light-7 {
  background-color: #c1d3fa;
}
.bg-primary-dark-7 {
  background-color: #0e2047;
}
.bg-primary-light-8 {
  background-color: #d5e2fc;
}
.bg-primary-dark-8 {
  background-color: #091630;
}
.bg-primary-light-9 {
  background-color: #eaf0fd;
}
.bg-primary-dark-9 {
  background-color: #050b18;
}
.bg-secondary {
  background-color: #1ac784;
}
.bg-secondary-light-1 {
  background-color: #31cd90;
}
.bg-secondary-dark-1 {
  background-color: #17b377;
}
.bg-secondary-light-2 {
  background-color: #48d29d;
}
.bg-secondary-dark-2 {
  background-color: #159f6a;
}
.bg-secondary-light-3 {
  background-color: #5fd8a9;
}
.bg-secondary-dark-3 {
  background-color: #128b5c;
}
.bg-secondary-light-4 {
  background-color: #76ddb5;
}
.bg-secondary-dark-4 {
  background-color: #10774f;
}
.bg-secondary-light-5 {
  background-color: #8de3c2;
}
.bg-secondary-dark-5 {
  background-color: #0d6442;
}
.bg-secondary-light-6 {
  background-color: #a3e9ce;
}
.bg-secondary-dark-6 {
  background-color: #0a5035;
}
.bg-secondary-light-7 {
  background-color: #baeeda;
}
.bg-secondary-dark-7 {
  background-color: #083c28;
}
.bg-secondary-light-8 {
  background-color: #d1f4e6;
}
.bg-secondary-dark-8 {
  background-color: #05281a;
}
.bg-secondary-light-9 {
  background-color: #e8f9f3;
}
.bg-secondary-dark-9 {
  background-color: #03140d;
}
.bg-error {
  background-color: #d32752;
}
.bg-error-light-1 {
  background-color: #d73d63;
}
.bg-error-dark-1 {
  background-color: #be234a;
}
.bg-error-light-2 {
  background-color: #dc5275;
}
.bg-error-dark-2 {
  background-color: #a91f42;
}
.bg-error-light-3 {
  background-color: #e06886;
}
.bg-error-dark-3 {
  background-color: #941b39;
}
.bg-error-light-4 {
  background-color: #e57d97;
}
.bg-error-dark-4 {
  background-color: #7f1731;
}
.bg-error-light-5 {
  background-color: #e993a9;
}
.bg-error-dark-5 {
  background-color: #6a1429;
}
.bg-error-light-6 {
  background-color: #eda9ba;
}
.bg-error-dark-6 {
  background-color: #541021;
}
.bg-error-light-7 {
  background-color: #f2becb;
}
.bg-error-dark-7 {
  background-color: #3f0c19;
}
.bg-error-light-8 {
  background-color: #f6d4dc;
}
.bg-error-dark-8 {
  background-color: #2a0810;
}
.bg-error-light-9 {
  background-color: #fbe9ee;
}
.bg-error-dark-9 {
  background-color: #150408;
}
.bg-info {
  background-color: #f6c31e;
}
.bg-info-light-1 {
  background-color: #f7c935;
}
.bg-info-dark-1 {
  background-color: #ddb01b;
}
.bg-info-light-2 {
  background-color: #f8cf4b;
}
.bg-info-dark-2 {
  background-color: #c59c18;
}
.bg-info-light-3 {
  background-color: #f9d562;
}
.bg-info-dark-3 {
  background-color: #ac8915;
}
.bg-info-light-4 {
  background-color: #fadb78;
}
.bg-info-dark-4 {
  background-color: #947512;
}
.bg-info-light-5 {
  background-color: #fbe18f;
}
.bg-info-dark-5 {
  background-color: #7b620f;
}
.bg-info-light-6 {
  background-color: #fbe7a5;
}
.bg-info-dark-6 {
  background-color: #624e0c;
}
.bg-info-light-7 {
  background-color: #fcedbc;
}
.bg-info-dark-7 {
  background-color: #4a3b09;
}
.bg-info-light-8 {
  background-color: #fdf3d2;
}
.bg-info-dark-8 {
  background-color: #312706;
}
.bg-info-light-9 {
  background-color: #fef9e9;
}
.bg-info-dark-9 {
  background-color: #191403;
}
.bg-red {
  background-color: #e61a1a;
}
.bg-red-light-1 {
  background-color: #e93131;
}
.bg-red-dark-1 {
  background-color: #cf1717;
}
.bg-red-light-2 {
  background-color: #eb4848;
}
.bg-red-dark-2 {
  background-color: #b81515;
}
.bg-red-light-3 {
  background-color: #ee5f5f;
}
.bg-red-dark-3 {
  background-color: #a11212;
}
.bg-red-light-4 {
  background-color: #f07676;
}
.bg-red-dark-4 {
  background-color: #8a1010;
}
.bg-red-light-5 {
  background-color: #f38d8d;
}
.bg-red-dark-5 {
  background-color: #730d0d;
}
.bg-red-light-6 {
  background-color: #f5a3a3;
}
.bg-red-dark-6 {
  background-color: #5c0a0a;
}
.bg-red-light-7 {
  background-color: #f8baba;
}
.bg-red-dark-7 {
  background-color: #450808;
}
.bg-red-light-8 {
  background-color: #fad1d1;
}
.bg-red-dark-8 {
  background-color: #2e0505;
}
.bg-red-light-9 {
  background-color: #fde8e8;
}
.bg-red-dark-9 {
  background-color: #170303;
}
.bg-orange {
  background-color: #f50;
}
.bg-orange-light-1 {
  background-color: #ff661a;
}
.bg-orange-dark-1 {
  background-color: #e64d00;
}
.bg-orange-light-2 {
  background-color: #f73;
}
.bg-orange-dark-2 {
  background-color: #c40;
}
.bg-orange-light-3 {
  background-color: #ff884d;
}
.bg-orange-dark-3 {
  background-color: #b33c00;
}
.bg-orange-light-4 {
  background-color: #f96;
}
.bg-orange-dark-4 {
  background-color: #930;
}
.bg-orange-light-5 {
  background-color: #ffaa80;
}
.bg-orange-dark-5 {
  background-color: #802b00;
}
.bg-orange-light-6 {
  background-color: #fb9;
}
.bg-orange-dark-6 {
  background-color: #620;
}
.bg-orange-light-7 {
  background-color: #ffccb3;
}
.bg-orange-dark-7 {
  background-color: #4d1a00;
}
.bg-orange-light-8 {
  background-color: #fdc;
}
.bg-orange-dark-8 {
  background-color: #310;
}
.bg-orange-light-9 {
  background-color: #ffeee6;
}
.bg-orange-dark-9 {
  background-color: #1a0900;
}
.bg-yellow {
  background-color: #f2f20d;
}
.bg-yellow-light-1 {
  background-color: #f3f325;
}
.bg-yellow-dark-1 {
  background-color: #dada0c;
}
.bg-yellow-light-2 {
  background-color: #f5f53d;
}
.bg-yellow-dark-2 {
  background-color: #c2c20a;
}
.bg-yellow-light-3 {
  background-color: #f6f656;
}
.bg-yellow-dark-3 {
  background-color: #a9a909;
}
.bg-yellow-light-4 {
  background-color: #f7f76e;
}
.bg-yellow-dark-4 {
  background-color: #919108;
}
.bg-yellow-light-5 {
  background-color: #f9f986;
}
.bg-yellow-dark-5 {
  background-color: #797907;
}
.bg-yellow-light-6 {
  background-color: #fafa9e;
}
.bg-yellow-dark-6 {
  background-color: #616105;
}
.bg-yellow-light-7 {
  background-color: #fbfbb6;
}
.bg-yellow-dark-7 {
  background-color: #494904;
}
.bg-yellow-light-8 {
  background-color: #fcfccf;
}
.bg-yellow-dark-8 {
  background-color: #303003;
}
.bg-yellow-light-9 {
  background-color: #fefee7;
}
.bg-yellow-dark-9 {
  background-color: #181801;
}
.bg-limegreen {
  background-color: #80e61a;
}
.bg-limegreen-light-1 {
  background-color: #8de931;
}
.bg-limegreen-dark-1 {
  background-color: #73cf17;
}
.bg-limegreen-light-2 {
  background-color: #99eb48;
}
.bg-limegreen-dark-2 {
  background-color: #66b815;
}
.bg-limegreen-light-3 {
  background-color: #a6ee5f;
}
.bg-limegreen-dark-3 {
  background-color: #5aa112;
}
.bg-limegreen-light-4 {
  background-color: #b3f076;
}
.bg-limegreen-dark-4 {
  background-color: #4d8a10;
}
.bg-limegreen-light-5 {
  background-color: #c0f38d;
}
.bg-limegreen-dark-5 {
  background-color: #40730d;
}
.bg-limegreen-light-6 {
  background-color: #ccf5a3;
}
.bg-limegreen-dark-6 {
  background-color: #335c0a;
}
.bg-limegreen-light-7 {
  background-color: #d9f8ba;
}
.bg-limegreen-dark-7 {
  background-color: #264508;
}
.bg-limegreen-light-8 {
  background-color: #e6fad1;
}
.bg-limegreen-dark-8 {
  background-color: #1a2e05;
}
.bg-limegreen-light-9 {
  background-color: #f2fde8;
}
.bg-limegreen-dark-9 {
  background-color: #0d1703;
}
.bg-green {
  background-color: #0df20d;
}
.bg-green-light-1 {
  background-color: #25f325;
}
.bg-green-dark-1 {
  background-color: #0cda0c;
}
.bg-green-light-2 {
  background-color: #3df53d;
}
.bg-green-dark-2 {
  background-color: #0ac20a;
}
.bg-green-light-3 {
  background-color: #56f656;
}
.bg-green-dark-3 {
  background-color: #09a909;
}
.bg-green-light-4 {
  background-color: #6ef76e;
}
.bg-green-dark-4 {
  background-color: #089108;
}
.bg-green-light-5 {
  background-color: #86f986;
}
.bg-green-dark-5 {
  background-color: #077907;
}
.bg-green-light-6 {
  background-color: #9efa9e;
}
.bg-green-dark-6 {
  background-color: #056105;
}
.bg-green-light-7 {
  background-color: #b6fbb6;
}
.bg-green-dark-7 {
  background-color: #044904;
}
.bg-green-light-8 {
  background-color: #cffccf;
}
.bg-green-dark-8 {
  background-color: #033003;
}
.bg-green-light-9 {
  background-color: #e7fee7;
}
.bg-green-dark-9 {
  background-color: #011801;
}
.bg-cyan {
  background-color: #1ae6c4;
}
.bg-cyan-light-1 {
  background-color: #31e9ca;
}
.bg-cyan-dark-1 {
  background-color: #17cfb0;
}
.bg-cyan-light-2 {
  background-color: #48ebd0;
}
.bg-cyan-dark-2 {
  background-color: #15b89d;
}
.bg-cyan-light-3 {
  background-color: #5feed6;
}
.bg-cyan-dark-3 {
  background-color: #12a189;
}
.bg-cyan-light-4 {
  background-color: #76f0dc;
}
.bg-cyan-dark-4 {
  background-color: #108a76;
}
.bg-cyan-light-5 {
  background-color: #8df3e2;
}
.bg-cyan-dark-5 {
  background-color: #0d7362;
}
.bg-cyan-light-6 {
  background-color: #a3f5e7;
}
.bg-cyan-dark-6 {
  background-color: #0a5c4e;
}
.bg-cyan-light-7 {
  background-color: #baf8ed;
}
.bg-cyan-dark-7 {
  background-color: #08453b;
}
.bg-cyan-light-8 {
  background-color: #d1faf3;
}
.bg-cyan-dark-8 {
  background-color: #052e27;
}
.bg-cyan-light-9 {
  background-color: #e8fdf9;
}
.bg-cyan-dark-9 {
  background-color: #031714;
}
.bg-purple {
  background-color: #5e1ae6;
}
.bg-purple-light-1 {
  background-color: #6e31e9;
}
.bg-purple-dark-1 {
  background-color: #5517cf;
}
.bg-purple-light-2 {
  background-color: #7e48eb;
}
.bg-purple-dark-2 {
  background-color: #4b15b8;
}
.bg-purple-light-3 {
  background-color: #8e5fee;
}
.bg-purple-dark-3 {
  background-color: #4212a1;
}
.bg-purple-light-4 {
  background-color: #9e76f0;
}
.bg-purple-dark-4 {
  background-color: #38108a;
}
.bg-purple-light-5 {
  background-color: #af8df3;
}
.bg-purple-dark-5 {
  background-color: #2f0d73;
}
.bg-purple-light-6 {
  background-color: #bfa3f5;
}
.bg-purple-dark-6 {
  background-color: #260a5c;
}
.bg-purple-light-7 {
  background-color: #cfbaf8;
}
.bg-purple-dark-7 {
  background-color: #1c0845;
}
.bg-purple-light-8 {
  background-color: #dfd1fa;
}
.bg-purple-dark-8 {
  background-color: #13052e;
}
.bg-purple-light-9 {
  background-color: #efe8fd;
}
.bg-purple-dark-9 {
  background-color: #090317;
}
.bg-pink {
  background-color: #e61aa2;
}
.bg-pink-light-1 {
  background-color: #e931ab;
}
.bg-pink-dark-1 {
  background-color: #cf1792;
}
.bg-pink-light-2 {
  background-color: #eb48b5;
}
.bg-pink-dark-2 {
  background-color: #b81582;
}
.bg-pink-light-3 {
  background-color: #ee5fbe;
}
.bg-pink-dark-3 {
  background-color: #a11271;
}
.bg-pink-light-4 {
  background-color: #f076c7;
}
.bg-pink-dark-4 {
  background-color: #8a1061;
}
.bg-pink-light-5 {
  background-color: #f38dd1;
}
.bg-pink-dark-5 {
  background-color: #730d51;
}
.bg-pink-light-6 {
  background-color: #f5a3da;
}
.bg-pink-dark-6 {
  background-color: #5c0a41;
}
.bg-pink-light-7 {
  background-color: #f8bae3;
}
.bg-pink-dark-7 {
  background-color: #450831;
}
.bg-pink-light-8 {
  background-color: #fad1ec;
}
.bg-pink-dark-8 {
  background-color: #2e0520;
}
.bg-pink-light-9 {
  background-color: #fde8f6;
}
.bg-pink-dark-9 {
  background-color: #170310;
}
.bg-blue {
  background-color: #1a1ae6;
}
.bg-blue-light-1 {
  background-color: #3131e9;
}
.bg-blue-dark-1 {
  background-color: #1717cf;
}
.bg-blue-light-2 {
  background-color: #4848eb;
}
.bg-blue-dark-2 {
  background-color: #1515b8;
}
.bg-blue-light-3 {
  background-color: #5f5fee;
}
.bg-blue-dark-3 {
  background-color: #1212a1;
}
.bg-blue-light-4 {
  background-color: #7676f0;
}
.bg-blue-dark-4 {
  background-color: #10108a;
}
.bg-blue-light-5 {
  background-color: #8d8df3;
}
.bg-blue-dark-5 {
  background-color: #0d0d73;
}
.bg-blue-light-6 {
  background-color: #a3a3f5;
}
.bg-blue-dark-6 {
  background-color: #0a0a5c;
}
.bg-blue-light-7 {
  background-color: #babaf8;
}
.bg-blue-dark-7 {
  background-color: #080845;
}
.bg-blue-light-8 {
  background-color: #d1d1fa;
}
.bg-blue-dark-8 {
  background-color: #05052e;
}
.bg-blue-light-9 {
  background-color: #e8e8fd;
}
.bg-blue-dark-9 {
  background-color: #030317;
}
.bg-grey {
  background-color: gray;
}
.bg-grey-light-1 {
  background-color: #8d8d8d;
}
.bg-grey-dark-1 {
  background-color: #737373;
}
.bg-grey-light-2 {
  background-color: #999;
}
.bg-grey-dark-2 {
  background-color: #666;
}
.bg-grey-light-3 {
  background-color: #a6a6a6;
}
.bg-grey-dark-3 {
  background-color: #5a5a5a;
}
.bg-grey-light-4 {
  background-color: #b3b3b3;
}
.bg-grey-dark-4 {
  background-color: #4d4d4d;
}
.bg-grey-light-5 {
  background-color: silver;
}
.bg-grey-dark-5 {
  background-color: #404040;
}
.bg-grey-light-6 {
  background-color: #ccc;
}
.bg-grey-dark-6 {
  background-color: #333;
}
.bg-grey-light-7 {
  background-color: #d9d9d9;
}
.bg-grey-dark-7 {
  background-color: #262626;
}
.bg-grey-light-8 {
  background-color: #e6e6e6;
}
.bg-grey-dark-8 {
  background-color: #1a1a1a;
}
.bg-grey-light-9 {
  background-color: #f2f2f2;
}
.bg-grey-dark-9 {
  background-color: #0d0d0d;
}
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
.btn {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}
.btn--primary {
  background-color: #2f6cee;
}
.btn--hover--primary--light--1:hover,
.btn--primary--light--1 {
  background-color: #447bf0;
}
.btn--hover--primary--dark--1:hover,
.btn--primary--dark--1 {
  background-color: #2a61d6;
}
.btn--hover--primary--light--2:hover,
.btn--primary--light--2 {
  background-color: #5989f1;
}
.btn--hover--primary--dark--2:hover,
.btn--primary--dark--2 {
  background-color: #2656be;
}
.btn--hover--primary--light--3:hover,
.btn--primary--light--3 {
  background-color: #6d98f3;
}
.btn--hover--primary--dark--3:hover,
.btn--primary--dark--3 {
  background-color: #214ca7;
}
.btn--hover--primary--light--4:hover,
.btn--primary--light--4 {
  background-color: #82a7f5;
}
.btn--hover--primary--dark--4:hover,
.btn--primary--dark--4 {
  background-color: #1c418f;
}
.btn--hover--primary--light--5:hover,
.btn--primary--light--5 {
  background-color: #97b6f7;
}
.btn--hover--primary--dark--5:hover,
.btn--primary--dark--5 {
  background-color: #183677;
}
.btn--hover--primary--light--6:hover,
.btn--primary--light--6 {
  background-color: #acc4f8;
}
.btn--hover--primary--dark--6:hover,
.btn--primary--dark--6 {
  background-color: #132b5f;
}
.btn--hover--primary--light--7:hover,
.btn--primary--light--7 {
  background-color: #c1d3fa;
}
.btn--hover--primary--dark--7:hover,
.btn--primary--dark--7 {
  background-color: #0e2047;
}
.btn--hover--primary--light--8:hover,
.btn--primary--light--8 {
  background-color: #d5e2fc;
}
.btn--hover--primary--dark--8:hover,
.btn--primary--dark--8 {
  background-color: #091630;
}
.btn--hover--primary--light--9:hover,
.btn--primary--light--9 {
  background-color: #eaf0fd;
}
.btn--hover--primary--dark--9:hover,
.btn--primary--dark--9 {
  background-color: #050b18;
}
.btn--secondary {
  background-color: #1ac784;
}
.btn--hover--secondary--light--1:hover,
.btn--secondary--light--1 {
  background-color: #31cd90;
}
.btn--hover--secondary--dark--1:hover,
.btn--secondary--dark--1 {
  background-color: #17b377;
}
.btn--hover--secondary--light--2:hover,
.btn--secondary--light--2 {
  background-color: #48d29d;
}
.btn--hover--secondary--dark--2:hover,
.btn--secondary--dark--2 {
  background-color: #159f6a;
}
.btn--hover--secondary--light--3:hover,
.btn--secondary--light--3 {
  background-color: #5fd8a9;
}
.btn--hover--secondary--dark--3:hover,
.btn--secondary--dark--3 {
  background-color: #128b5c;
}
.btn--hover--secondary--light--4:hover,
.btn--secondary--light--4 {
  background-color: #76ddb5;
}
.btn--hover--secondary--dark--4:hover,
.btn--secondary--dark--4 {
  background-color: #10774f;
}
.btn--hover--secondary--light--5:hover,
.btn--secondary--light--5 {
  background-color: #8de3c2;
}
.btn--hover--secondary--dark--5:hover,
.btn--secondary--dark--5 {
  background-color: #0d6442;
}
.btn--hover--secondary--light--6:hover,
.btn--secondary--light--6 {
  background-color: #a3e9ce;
}
.btn--hover--secondary--dark--6:hover,
.btn--secondary--dark--6 {
  background-color: #0a5035;
}
.btn--hover--secondary--light--7:hover,
.btn--secondary--light--7 {
  background-color: #baeeda;
}
.btn--hover--secondary--dark--7:hover,
.btn--secondary--dark--7 {
  background-color: #083c28;
}
.btn--hover--secondary--light--8:hover,
.btn--secondary--light--8 {
  background-color: #d1f4e6;
}
.btn--hover--secondary--dark--8:hover,
.btn--secondary--dark--8 {
  background-color: #05281a;
}
.btn--hover--secondary--light--9:hover,
.btn--secondary--light--9 {
  background-color: #e8f9f3;
}
.btn--hover--secondary--dark--9:hover,
.btn--secondary--dark--9 {
  background-color: #03140d;
}
.btn--error {
  background-color: #d32752;
}
.btn--error--light--1,
.btn--hover--error--light--1:hover {
  background-color: #d73d63;
}
.btn--error--dark--1,
.btn--hover--error--dark--1:hover {
  background-color: #be234a;
}
.btn--error--light--2,
.btn--hover--error--light--2:hover {
  background-color: #dc5275;
}
.btn--error--dark--2,
.btn--hover--error--dark--2:hover {
  background-color: #a91f42;
}
.btn--error--light--3,
.btn--hover--error--light--3:hover {
  background-color: #e06886;
}
.btn--error--dark--3,
.btn--hover--error--dark--3:hover {
  background-color: #941b39;
}
.btn--error--light--4,
.btn--hover--error--light--4:hover {
  background-color: #e57d97;
}
.btn--error--dark--4,
.btn--hover--error--dark--4:hover {
  background-color: #7f1731;
}
.btn--error--light--5,
.btn--hover--error--light--5:hover {
  background-color: #e993a9;
}
.btn--error--dark--5,
.btn--hover--error--dark--5:hover {
  background-color: #6a1429;
}
.btn--error--light--6,
.btn--hover--error--light--6:hover {
  background-color: #eda9ba;
}
.btn--error--dark--6,
.btn--hover--error--dark--6:hover {
  background-color: #541021;
}
.btn--error--light--7,
.btn--hover--error--light--7:hover {
  background-color: #f2becb;
}
.btn--error--dark--7,
.btn--hover--error--dark--7:hover {
  background-color: #3f0c19;
}
.btn--error--light--8,
.btn--hover--error--light--8:hover {
  background-color: #f6d4dc;
}
.btn--error--dark--8,
.btn--hover--error--dark--8:hover {
  background-color: #2a0810;
}
.btn--error--light--9,
.btn--hover--error--light--9:hover {
  background-color: #fbe9ee;
}
.btn--error--dark--9,
.btn--hover--error--dark--9:hover {
  background-color: #150408;
}
.btn--info {
  background-color: #f6c31e;
}
.btn--hover--info--light--1:hover,
.btn--info--light--1 {
  background-color: #f7c935;
}
.btn--hover--info--dark--1:hover,
.btn--info--dark--1 {
  background-color: #ddb01b;
}
.btn--hover--info--light--2:hover,
.btn--info--light--2 {
  background-color: #f8cf4b;
}
.btn--hover--info--dark--2:hover,
.btn--info--dark--2 {
  background-color: #c59c18;
}
.btn--hover--info--light--3:hover,
.btn--info--light--3 {
  background-color: #f9d562;
}
.btn--hover--info--dark--3:hover,
.btn--info--dark--3 {
  background-color: #ac8915;
}
.btn--hover--info--light--4:hover,
.btn--info--light--4 {
  background-color: #fadb78;
}
.btn--hover--info--dark--4:hover,
.btn--info--dark--4 {
  background-color: #947512;
}
.btn--hover--info--light--5:hover,
.btn--info--light--5 {
  background-color: #fbe18f;
}
.btn--hover--info--dark--5:hover,
.btn--info--dark--5 {
  background-color: #7b620f;
}
.btn--hover--info--light--6:hover,
.btn--info--light--6 {
  background-color: #fbe7a5;
}
.btn--hover--info--dark--6:hover,
.btn--info--dark--6 {
  background-color: #624e0c;
}
.btn--hover--info--light--7:hover,
.btn--info--light--7 {
  background-color: #fcedbc;
}
.btn--hover--info--dark--7:hover,
.btn--info--dark--7 {
  background-color: #4a3b09;
}
.btn--hover--info--light--8:hover,
.btn--info--light--8 {
  background-color: #fdf3d2;
}
.btn--hover--info--dark--8:hover,
.btn--info--dark--8 {
  background-color: #312706;
}
.btn--hover--info--light--9:hover,
.btn--info--light--9 {
  background-color: #fef9e9;
}
.btn--hover--info--dark--9:hover,
.btn--info--dark--9 {
  background-color: #191403;
}
.btn--red {
  background-color: #e61a1a;
}
.btn--hover--red--light--1:hover,
.btn--red--light--1 {
  background-color: #e93131;
}
.btn--hover--red--dark--1:hover,
.btn--red--dark--1 {
  background-color: #cf1717;
}
.btn--hover--red--light--2:hover,
.btn--red--light--2 {
  background-color: #eb4848;
}
.btn--hover--red--dark--2:hover,
.btn--red--dark--2 {
  background-color: #b81515;
}
.btn--hover--red--light--3:hover,
.btn--red--light--3 {
  background-color: #ee5f5f;
}
.btn--hover--red--dark--3:hover,
.btn--red--dark--3 {
  background-color: #a11212;
}
.btn--hover--red--light--4:hover,
.btn--red--light--4 {
  background-color: #f07676;
}
.btn--hover--red--dark--4:hover,
.btn--red--dark--4 {
  background-color: #8a1010;
}
.btn--hover--red--light--5:hover,
.btn--red--light--5 {
  background-color: #f38d8d;
}
.btn--hover--red--dark--5:hover,
.btn--red--dark--5 {
  background-color: #730d0d;
}
.btn--hover--red--light--6:hover,
.btn--red--light--6 {
  background-color: #f5a3a3;
}
.btn--hover--red--dark--6:hover,
.btn--red--dark--6 {
  background-color: #5c0a0a;
}
.btn--hover--red--light--7:hover,
.btn--red--light--7 {
  background-color: #f8baba;
}
.btn--hover--red--dark--7:hover,
.btn--red--dark--7 {
  background-color: #450808;
}
.btn--hover--red--light--8:hover,
.btn--red--light--8 {
  background-color: #fad1d1;
}
.btn--hover--red--dark--8:hover,
.btn--red--dark--8 {
  background-color: #2e0505;
}
.btn--hover--red--light--9:hover,
.btn--red--light--9 {
  background-color: #fde8e8;
}
.btn--hover--red--dark--9:hover,
.btn--red--dark--9 {
  background-color: #170303;
}
.btn--orange {
  background-color: #f50;
}
.btn--hover--orange--light--1:hover,
.btn--orange--light--1 {
  background-color: #ff661a;
}
.btn--hover--orange--dark--1:hover,
.btn--orange--dark--1 {
  background-color: #e64d00;
}
.btn--hover--orange--light--2:hover,
.btn--orange--light--2 {
  background-color: #f73;
}
.btn--hover--orange--dark--2:hover,
.btn--orange--dark--2 {
  background-color: #c40;
}
.btn--hover--orange--light--3:hover,
.btn--orange--light--3 {
  background-color: #ff884d;
}
.btn--hover--orange--dark--3:hover,
.btn--orange--dark--3 {
  background-color: #b33c00;
}
.btn--hover--orange--light--4:hover,
.btn--orange--light--4 {
  background-color: #f96;
}
.btn--hover--orange--dark--4:hover,
.btn--orange--dark--4 {
  background-color: #930;
}
.btn--hover--orange--light--5:hover,
.btn--orange--light--5 {
  background-color: #ffaa80;
}
.btn--hover--orange--dark--5:hover,
.btn--orange--dark--5 {
  background-color: #802b00;
}
.btn--hover--orange--light--6:hover,
.btn--orange--light--6 {
  background-color: #fb9;
}
.btn--hover--orange--dark--6:hover,
.btn--orange--dark--6 {
  background-color: #620;
}
.btn--hover--orange--light--7:hover,
.btn--orange--light--7 {
  background-color: #ffccb3;
}
.btn--hover--orange--dark--7:hover,
.btn--orange--dark--7 {
  background-color: #4d1a00;
}
.btn--hover--orange--light--8:hover,
.btn--orange--light--8 {
  background-color: #fdc;
}
.btn--hover--orange--dark--8:hover,
.btn--orange--dark--8 {
  background-color: #310;
}
.btn--hover--orange--light--9:hover,
.btn--orange--light--9 {
  background-color: #ffeee6;
}
.btn--hover--orange--dark--9:hover,
.btn--orange--dark--9 {
  background-color: #1a0900;
}
.btn--yellow {
  background-color: #f2f20d;
}
.btn--hover--yellow--light--1:hover,
.btn--yellow--light--1 {
  background-color: #f3f325;
}
.btn--hover--yellow--dark--1:hover,
.btn--yellow--dark--1 {
  background-color: #dada0c;
}
.btn--hover--yellow--light--2:hover,
.btn--yellow--light--2 {
  background-color: #f5f53d;
}
.btn--hover--yellow--dark--2:hover,
.btn--yellow--dark--2 {
  background-color: #c2c20a;
}
.btn--hover--yellow--light--3:hover,
.btn--yellow--light--3 {
  background-color: #f6f656;
}
.btn--hover--yellow--dark--3:hover,
.btn--yellow--dark--3 {
  background-color: #a9a909;
}
.btn--hover--yellow--light--4:hover,
.btn--yellow--light--4 {
  background-color: #f7f76e;
}
.btn--hover--yellow--dark--4:hover,
.btn--yellow--dark--4 {
  background-color: #919108;
}
.btn--hover--yellow--light--5:hover,
.btn--yellow--light--5 {
  background-color: #f9f986;
}
.btn--hover--yellow--dark--5:hover,
.btn--yellow--dark--5 {
  background-color: #797907;
}
.btn--hover--yellow--light--6:hover,
.btn--yellow--light--6 {
  background-color: #fafa9e;
}
.btn--hover--yellow--dark--6:hover,
.btn--yellow--dark--6 {
  background-color: #616105;
}
.btn--hover--yellow--light--7:hover,
.btn--yellow--light--7 {
  background-color: #fbfbb6;
}
.btn--hover--yellow--dark--7:hover,
.btn--yellow--dark--7 {
  background-color: #494904;
}
.btn--hover--yellow--light--8:hover,
.btn--yellow--light--8 {
  background-color: #fcfccf;
}
.btn--hover--yellow--dark--8:hover,
.btn--yellow--dark--8 {
  background-color: #303003;
}
.btn--hover--yellow--light--9:hover,
.btn--yellow--light--9 {
  background-color: #fefee7;
}
.btn--hover--yellow--dark--9:hover,
.btn--yellow--dark--9 {
  background-color: #181801;
}
.btn--limegreen {
  background-color: #80e61a;
}
.btn--hover--limegreen--light--1:hover,
.btn--limegreen--light--1 {
  background-color: #8de931;
}
.btn--hover--limegreen--dark--1:hover,
.btn--limegreen--dark--1 {
  background-color: #73cf17;
}
.btn--hover--limegreen--light--2:hover,
.btn--limegreen--light--2 {
  background-color: #99eb48;
}
.btn--hover--limegreen--dark--2:hover,
.btn--limegreen--dark--2 {
  background-color: #66b815;
}
.btn--hover--limegreen--light--3:hover,
.btn--limegreen--light--3 {
  background-color: #a6ee5f;
}
.btn--hover--limegreen--dark--3:hover,
.btn--limegreen--dark--3 {
  background-color: #5aa112;
}
.btn--hover--limegreen--light--4:hover,
.btn--limegreen--light--4 {
  background-color: #b3f076;
}
.btn--hover--limegreen--dark--4:hover,
.btn--limegreen--dark--4 {
  background-color: #4d8a10;
}
.btn--hover--limegreen--light--5:hover,
.btn--limegreen--light--5 {
  background-color: #c0f38d;
}
.btn--hover--limegreen--dark--5:hover,
.btn--limegreen--dark--5 {
  background-color: #40730d;
}
.btn--hover--limegreen--light--6:hover,
.btn--limegreen--light--6 {
  background-color: #ccf5a3;
}
.btn--hover--limegreen--dark--6:hover,
.btn--limegreen--dark--6 {
  background-color: #335c0a;
}
.btn--hover--limegreen--light--7:hover,
.btn--limegreen--light--7 {
  background-color: #d9f8ba;
}
.btn--hover--limegreen--dark--7:hover,
.btn--limegreen--dark--7 {
  background-color: #264508;
}
.btn--hover--limegreen--light--8:hover,
.btn--limegreen--light--8 {
  background-color: #e6fad1;
}
.btn--hover--limegreen--dark--8:hover,
.btn--limegreen--dark--8 {
  background-color: #1a2e05;
}
.btn--hover--limegreen--light--9:hover,
.btn--limegreen--light--9 {
  background-color: #f2fde8;
}
.btn--hover--limegreen--dark--9:hover,
.btn--limegreen--dark--9 {
  background-color: #0d1703;
}
.btn--green {
  background-color: #0df20d;
}
.btn--green--light--1,
.btn--hover--green--light--1:hover {
  background-color: #25f325;
}
.btn--green--dark--1,
.btn--hover--green--dark--1:hover {
  background-color: #0cda0c;
}
.btn--green--light--2,
.btn--hover--green--light--2:hover {
  background-color: #3df53d;
}
.btn--green--dark--2,
.btn--hover--green--dark--2:hover {
  background-color: #0ac20a;
}
.btn--green--light--3,
.btn--hover--green--light--3:hover {
  background-color: #56f656;
}
.btn--green--dark--3,
.btn--hover--green--dark--3:hover {
  background-color: #09a909;
}
.btn--green--light--4,
.btn--hover--green--light--4:hover {
  background-color: #6ef76e;
}
.btn--green--dark--4,
.btn--hover--green--dark--4:hover {
  background-color: #089108;
}
.btn--green--light--5,
.btn--hover--green--light--5:hover {
  background-color: #86f986;
}
.btn--green--dark--5,
.btn--hover--green--dark--5:hover {
  background-color: #077907;
}
.btn--green--light--6,
.btn--hover--green--light--6:hover {
  background-color: #9efa9e;
}
.btn--green--dark--6,
.btn--hover--green--dark--6:hover {
  background-color: #056105;
}
.btn--green--light--7,
.btn--hover--green--light--7:hover {
  background-color: #b6fbb6;
}
.btn--green--dark--7,
.btn--hover--green--dark--7:hover {
  background-color: #044904;
}
.btn--green--light--8,
.btn--hover--green--light--8:hover {
  background-color: #cffccf;
}
.btn--green--dark--8,
.btn--hover--green--dark--8:hover {
  background-color: #033003;
}
.btn--green--light--9,
.btn--hover--green--light--9:hover {
  background-color: #e7fee7;
}
.btn--green--dark--9,
.btn--hover--green--dark--9:hover {
  background-color: #011801;
}
.btn--cyan {
  background-color: #1ae6c4;
}
.btn--cyan--light--1,
.btn--hover--cyan--light--1:hover {
  background-color: #31e9ca;
}
.btn--cyan--dark--1,
.btn--hover--cyan--dark--1:hover {
  background-color: #17cfb0;
}
.btn--cyan--light--2,
.btn--hover--cyan--light--2:hover {
  background-color: #48ebd0;
}
.btn--cyan--dark--2,
.btn--hover--cyan--dark--2:hover {
  background-color: #15b89d;
}
.btn--cyan--light--3,
.btn--hover--cyan--light--3:hover {
  background-color: #5feed6;
}
.btn--cyan--dark--3,
.btn--hover--cyan--dark--3:hover {
  background-color: #12a189;
}
.btn--cyan--light--4,
.btn--hover--cyan--light--4:hover {
  background-color: #76f0dc;
}
.btn--cyan--dark--4,
.btn--hover--cyan--dark--4:hover {
  background-color: #108a76;
}
.btn--cyan--light--5,
.btn--hover--cyan--light--5:hover {
  background-color: #8df3e2;
}
.btn--cyan--dark--5,
.btn--hover--cyan--dark--5:hover {
  background-color: #0d7362;
}
.btn--cyan--light--6,
.btn--hover--cyan--light--6:hover {
  background-color: #a3f5e7;
}
.btn--cyan--dark--6,
.btn--hover--cyan--dark--6:hover {
  background-color: #0a5c4e;
}
.btn--cyan--light--7,
.btn--hover--cyan--light--7:hover {
  background-color: #baf8ed;
}
.btn--cyan--dark--7,
.btn--hover--cyan--dark--7:hover {
  background-color: #08453b;
}
.btn--cyan--light--8,
.btn--hover--cyan--light--8:hover {
  background-color: #d1faf3;
}
.btn--cyan--dark--8,
.btn--hover--cyan--dark--8:hover {
  background-color: #052e27;
}
.btn--cyan--light--9,
.btn--hover--cyan--light--9:hover {
  background-color: #e8fdf9;
}
.btn--cyan--dark--9,
.btn--hover--cyan--dark--9:hover {
  background-color: #031714;
}
.btn--purple {
  background-color: #5e1ae6;
}
.btn--hover--purple--light--1:hover,
.btn--purple--light--1 {
  background-color: #6e31e9;
}
.btn--hover--purple--dark--1:hover,
.btn--purple--dark--1 {
  background-color: #5517cf;
}
.btn--hover--purple--light--2:hover,
.btn--purple--light--2 {
  background-color: #7e48eb;
}
.btn--hover--purple--dark--2:hover,
.btn--purple--dark--2 {
  background-color: #4b15b8;
}
.btn--hover--purple--light--3:hover,
.btn--purple--light--3 {
  background-color: #8e5fee;
}
.btn--hover--purple--dark--3:hover,
.btn--purple--dark--3 {
  background-color: #4212a1;
}
.btn--hover--purple--light--4:hover,
.btn--purple--light--4 {
  background-color: #9e76f0;
}
.btn--hover--purple--dark--4:hover,
.btn--purple--dark--4 {
  background-color: #38108a;
}
.btn--hover--purple--light--5:hover,
.btn--purple--light--5 {
  background-color: #af8df3;
}
.btn--hover--purple--dark--5:hover,
.btn--purple--dark--5 {
  background-color: #2f0d73;
}
.btn--hover--purple--light--6:hover,
.btn--purple--light--6 {
  background-color: #bfa3f5;
}
.btn--hover--purple--dark--6:hover,
.btn--purple--dark--6 {
  background-color: #260a5c;
}
.btn--hover--purple--light--7:hover,
.btn--purple--light--7 {
  background-color: #cfbaf8;
}
.btn--hover--purple--dark--7:hover,
.btn--purple--dark--7 {
  background-color: #1c0845;
}
.btn--hover--purple--light--8:hover,
.btn--purple--light--8 {
  background-color: #dfd1fa;
}
.btn--hover--purple--dark--8:hover,
.btn--purple--dark--8 {
  background-color: #13052e;
}
.btn--hover--purple--light--9:hover,
.btn--purple--light--9 {
  background-color: #efe8fd;
}
.btn--hover--purple--dark--9:hover,
.btn--purple--dark--9 {
  background-color: #090317;
}
.btn--pink {
  background-color: #e61aa2;
}
.btn--hover--pink--light--1:hover,
.btn--pink--light--1 {
  background-color: #e931ab;
}
.btn--hover--pink--dark--1:hover,
.btn--pink--dark--1 {
  background-color: #cf1792;
}
.btn--hover--pink--light--2:hover,
.btn--pink--light--2 {
  background-color: #eb48b5;
}
.btn--hover--pink--dark--2:hover,
.btn--pink--dark--2 {
  background-color: #b81582;
}
.btn--hover--pink--light--3:hover,
.btn--pink--light--3 {
  background-color: #ee5fbe;
}
.btn--hover--pink--dark--3:hover,
.btn--pink--dark--3 {
  background-color: #a11271;
}
.btn--hover--pink--light--4:hover,
.btn--pink--light--4 {
  background-color: #f076c7;
}
.btn--hover--pink--dark--4:hover,
.btn--pink--dark--4 {
  background-color: #8a1061;
}
.btn--hover--pink--light--5:hover,
.btn--pink--light--5 {
  background-color: #f38dd1;
}
.btn--hover--pink--dark--5:hover,
.btn--pink--dark--5 {
  background-color: #730d51;
}
.btn--hover--pink--light--6:hover,
.btn--pink--light--6 {
  background-color: #f5a3da;
}
.btn--hover--pink--dark--6:hover,
.btn--pink--dark--6 {
  background-color: #5c0a41;
}
.btn--hover--pink--light--7:hover,
.btn--pink--light--7 {
  background-color: #f8bae3;
}
.btn--hover--pink--dark--7:hover,
.btn--pink--dark--7 {
  background-color: #450831;
}
.btn--hover--pink--light--8:hover,
.btn--pink--light--8 {
  background-color: #fad1ec;
}
.btn--hover--pink--dark--8:hover,
.btn--pink--dark--8 {
  background-color: #2e0520;
}
.btn--hover--pink--light--9:hover,
.btn--pink--light--9 {
  background-color: #fde8f6;
}
.btn--hover--pink--dark--9:hover,
.btn--pink--dark--9 {
  background-color: #170310;
}
.btn--blue {
  background-color: #1a1ae6;
}
.btn--blue--light--1,
.btn--hover--blue--light--1:hover {
  background-color: #3131e9;
}
.btn--blue--dark--1,
.btn--hover--blue--dark--1:hover {
  background-color: #1717cf;
}
.btn--blue--light--2,
.btn--hover--blue--light--2:hover {
  background-color: #4848eb;
}
.btn--blue--dark--2,
.btn--hover--blue--dark--2:hover {
  background-color: #1515b8;
}
.btn--blue--light--3,
.btn--hover--blue--light--3:hover {
  background-color: #5f5fee;
}
.btn--blue--dark--3,
.btn--hover--blue--dark--3:hover {
  background-color: #1212a1;
}
.btn--blue--light--4,
.btn--hover--blue--light--4:hover {
  background-color: #7676f0;
}
.btn--blue--dark--4,
.btn--hover--blue--dark--4:hover {
  background-color: #10108a;
}
.btn--blue--light--5,
.btn--hover--blue--light--5:hover {
  background-color: #8d8df3;
}
.btn--blue--dark--5,
.btn--hover--blue--dark--5:hover {
  background-color: #0d0d73;
}
.btn--blue--light--6,
.btn--hover--blue--light--6:hover {
  background-color: #a3a3f5;
}
.btn--blue--dark--6,
.btn--hover--blue--dark--6:hover {
  background-color: #0a0a5c;
}
.btn--blue--light--7,
.btn--hover--blue--light--7:hover {
  background-color: #babaf8;
}
.btn--blue--dark--7,
.btn--hover--blue--dark--7:hover {
  background-color: #080845;
}
.btn--blue--light--8,
.btn--hover--blue--light--8:hover {
  background-color: #d1d1fa;
}
.btn--blue--dark--8,
.btn--hover--blue--dark--8:hover {
  background-color: #05052e;
}
.btn--blue--light--9,
.btn--hover--blue--light--9:hover {
  background-color: #e8e8fd;
}
.btn--blue--dark--9,
.btn--hover--blue--dark--9:hover {
  background-color: #030317;
}
.btn--grey {
  background-color: gray;
}
.btn--grey--light--1,
.btn--hover--grey--light--1:hover {
  background-color: #8d8d8d;
}
.btn--grey--dark--1,
.btn--hover--grey--dark--1:hover {
  background-color: #737373;
}
.btn--grey--light--2,
.btn--hover--grey--light--2:hover {
  background-color: #999;
}
.btn--grey--dark--2,
.btn--hover--grey--dark--2:hover {
  background-color: #666;
}
.btn--grey--light--3,
.btn--hover--grey--light--3:hover {
  background-color: #a6a6a6;
}
.btn--grey--dark--3,
.btn--hover--grey--dark--3:hover {
  background-color: #5a5a5a;
}
.btn--grey--light--4,
.btn--hover--grey--light--4:hover {
  background-color: #b3b3b3;
}
.btn--grey--dark--4,
.btn--hover--grey--dark--4:hover {
  background-color: #4d4d4d;
}
.btn--grey--light--5,
.btn--hover--grey--light--5:hover {
  background-color: silver;
}
.btn--grey--dark--5,
.btn--hover--grey--dark--5:hover {
  background-color: #404040;
}
.btn--grey--light--6,
.btn--hover--grey--light--6:hover {
  background-color: #ccc;
}
.btn--grey--dark--6,
.btn--hover--grey--dark--6:hover {
  background-color: #333;
}
.btn--grey--light--7,
.btn--hover--grey--light--7:hover {
  background-color: #d9d9d9;
}
.btn--grey--dark--7,
.btn--hover--grey--dark--7:hover {
  background-color: #262626;
}
.btn--grey--light--8,
.btn--hover--grey--light--8:hover {
  background-color: #e6e6e6;
}
.btn--grey--dark--8,
.btn--hover--grey--dark--8:hover {
  background-color: #1a1a1a;
}
.btn--grey--light--9,
.btn--hover--grey--light--9:hover {
  background-color: #f2f2f2;
}
.btn--grey--dark--9,
.btn--hover--grey--dark--9:hover {
  background-color: #0d0d0d;
}
.btn--black {
  background-color: #000;
}
.btn--white {
  background-color: #fff;
}
/*# sourceMappingURL=sparsm.css.map */
